# Banco SQLite local
DATABASE_URL=file:./iafirst-payload.db

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# URL pública, sem barra no final
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
